# Auto detect text files and perform LF normalization
* text=auto
<html>
<head>
<title> The specific martyrs of Iran </title>
</head>
<frameset rows="18%,92%">
<frame src="top1.html" name="top"  scrolling="no">
<frameset cols="22%, 68%, 15%">
<frame src="form.html" name="left"  scrolling="no">
<frame src="proj.html" name="main" scrolling="auto">
    <frame src="asami.html" name="right"  scrolling="no">
</frameset>
</frameset>
</html>